<%= back_link %>
<p>
Thank you for joining Di-Tag. This is your page to learn about Di-Tag, try out new ways to use it, 
and share your experiences with others. Below you will find answers to some common questions. 
You can also submit your own questions or comments to the developers of Di-Tag on the <%= link_to 'Feedback', {:controller=>'samples', :action=>'feedback'} %> page.
</p>
<h3>Frequently Asked Questions</h3>
<p>
<ul>
<ol>
<li>What is Di-Tag?</li>
<p>
As you learn how to manage your diabetes, you will find that many daily activities, 
such as your meals and snack, the amount of physical activity or even the level of stress 
in your day will affect your blood sugar values. You will also find that the same meals or 
activities will affect you differently than other individuals with diabetes. 
Di-Tag was designed to make it easier for you to learn how your choices affect your health, 
discuss your findings with a diabetes educator, and share them with a community of other individuals with diabetes. 
Using the phone you received and the website you can do the following:
<ul>
<li>Make a record of activity that might have an impact on your blood sugar values;</li>
<li>Capture and record your blood sugar values before and after the activity using your regular glucose meter;</li>
<li>Use keywords or "tags" to describe and classify the activity so that you can easily refer to it in the future</li>
<li>Discuss your activities and their impact with a diabetes educator using website discussion features</li>
<li>Share your records and tags with others on the website. This will allow you to compare your activities with 
those recorded by others.</li>
</ul>
</p>
<br/>
<li>What activities should I be recording?</li>
<p>
Discovering what activities you should pay attention to and record is part of learning about diabetes. 
We recommend considering the following activities as worthy of capturing:
<ul>
<li>Your meals - many of the D-Tag users found that images of meals can help to remember not only the 
components but also the portion sizes. To complement the picture, the phone will allow you to record 
the amounts of carbohydrates, proteins and fats in your meals. Consider including snacks in your records 
as well.</li>
<li>Exercise - whether you went out for a long walk, or spent some time in the gym, recording your physical activity may 
provide additional explanation to the changes in your blood sugar values. </li>
<li>Stressful moments & stress is one of the factors that may impact your blood sugar. Making a note of your stress level 
during a day may contribute to your understanding of your disease.</li>
</ul>
</p>
<li>How do I record an activity that I am interested in?</li>
<p>
There are two ways to record an activity. You could use your phone to take a picture or describe the 
activity verbally using voice recording. This would allow you to record the activity right when it happens.
 It will also help you if you want to measure the impact of this activity on your blood sugar value. 
 To do that, use your glucose meter right before the activity and make a record of it using the phone. 
 Two hours later, the phone will give you a ring to remind you to measure the post-activity blood sugar. 
 Measuring your blood sugar is optional, so feel free to record activities without additional blood sugar 
 sampling. To use the phone continuously, please don’t forget to recharge it every evening. 
</p>
<p>
The second way to record an activity is through the website. As you review your records, you will see a 
link "Create a Sample". Use it to open a form to describe the activity. This way will not allow you to 
take a picture or add a voice comment, but will allow you to record activities that you forgot to capture 
with the phone.
</p>
<li>What are tags and what do I use them for?</li>
<p>
Tags are keywords that will help you to easily find a particular recorded activity and to compare and 
contrast similar activities, yours as well as others’. For example, if you use the tag "breakfast" 
every time you record your breakfast, the website will allow you to select all your records with the 
tag "breakfast" and review them on one page. Moreover, you will also see every breakfast that other 
participants recorded. However, you may find it beneficial to use not only very general tags, such 
as "breakfast", but also more specific ones, such as the components of the breakfast ("eggs", "toast", 
"cereal") or even the brands you are trying ("Total" or "Special K"). You could also use tags to 
describe the impact of the activity on your blood sugar, if you chose to measure it. Example of such 
tags could be: "low carb" and "great choice" or "too high', "too much carb", "add protein", etc. 
Your tags do not have to be words, they could also be a number; for example you may choose to use them 
to record the amount of insulin you used with a particular meal, or to note the post-activity values, 
for example, "below 140". 
</p>
<li>How do I record tags?</li>
<p>
You can record you tags using your phone or using the website. When using the phone, you could either 
select tags from the list of all tags recorded by all Di-Tag users or create your own unique tags. 
Please note, however, that your phone will update the list of tags approximately every 10 minutes, 
so if you have just turned it on, it may not have updated the list. In this case you could either 
weight for 10 minutes to get an updated list of tags, or create your own. The phone will allow you 
to enter tags twice for each recorded activity: when you just recorded the activity, and 2 hours later 
when you measured your post-activity blood sugar.
</p>
<p>
If you find typing using a phone keyboard inconvenient, you might choose to enter tags directly on the 
website. Just click your mouse on the tag area for a particular record and type your tags into the list. 
</p>
<li>How often can I expect comments on my records?</li>
<p>
Our diabetes educator will be reviewing your records on a daily basis and providing the comments, 
suggestion and feedback. You can expect the feedback at least once a day, however, the timing of them 
will depend on educator’s daily availability and schedule. 
</p>
<li>What is a tag description and why is it there?</li>
<p>
Tag description allows Di-Tag users to create descriptions of some common activities and experiences. 
This feature can be used at your discretion and at your chosen times. For example, if you decide that 
you have learned enough about a particular brand of morning cereal, such as "Total", you may choose to 
write your thoughts in the description for the tag "Total". Please remember that other users can edit 
and modify your description at their own choice. In the same manner, you can edit and modify any 
description entered by any of Di-Tag users. 
</p>
</ol>
</ul>
</p>
<%= back_link %>